
@import '../../../../assets/styles/Variables'


.header 
  display flex
  padding 1.5rem
  border-bottom thin solid $--defaul-border-color


.header__container 
  width 80vw
  margin 0 auto
  display flex
  align-items center
  justify-content space-between

.header__search-input
  height 45px
  min-width 170px
  border-radius 2px
  border thin solid $--defaul-border-color
  background $--input-background-color
  padding-left 0.5rem

.header__bar-icon 
  height 45px
  cursor pointer
  border none
  background $--search-button-background-color
  color $--badge-text
  font-weight bold
