.home__container
    max-width 80vw
    margin 0 auto
    display flex
    


    .home__filter-bar
        padding 2rem 2rem 1rem 1rem

        .home__filter-bar__title
            font-weight 600
            font-size 18px

        .home__filter-bar__menu
            margin 0
            padding 0
            .home__filter-bar__menu__item
                list-style-type none
                text-align left
                cursor pointer

