
$--default-line-height = 1.3rem


// CORES PRINCIPAIS
$--default-third-color = #ea8478
$--default-secundary-color = #d9d9d9
$--defaul-border-color = #f0f0f0

//CORES HEADER
$--input-background-color = #f0f0f0
$--search-button-background-color = #e3472f


$--default-primary-color = #005F9E
$--default-warning-color = #F28D2A
$--default-error-background-color = #fff3f3
$--default-error-color = #CE312F
$--default-success-color = #0AB543
$--default-inactive-color = #5f5f5f
$--default-exodus-color = #8667EA
$--default-line-color = #aaa



//CORES BADGES
$--badge-text = #FFFFFF
$--badge-ux_ui = #00bbff
$--badge-case_study = #f4973c
$--badge-product_design  = #00e2ad
$--badge-discussion= #4271d6

